* {
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(93, 52, 5);
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 5px 20px;
}

.button {
  margin-top: 30px;
  font: arial;
  font-weight: bolder;
  padding: 10px;
  background-color: rgb(93, 52, 5);
  color: white;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(152, 84, 6);
}

main {
  display: flex;
  justify-self: center;
}

.startpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 50vw;
}

.startpage p {
  text-align: center;
}

.quiz {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
}

.start-btn {
  margin: 5px;
  font-weight: bolder;
  padding: 10px 30px;
  background-color: rgb(93, 52, 5);
  color: white;
  border-radius: 5px;
}

.quizbtn {
  background-color: rgb(93, 52, 5);
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 5px
}

#highscorebtn {
  background-color: rgb(93, 52, 5);
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px 30px;
}
.endpage {
  display: none;
  flex-direction: column;
  width: 30vw;
  margin: 10px;
}

.endpage label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.quizresult {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 5px solid rgb(164, 164, 209);
}

.recentscore {
  font-style: bolder;
  font-size: 30px;
}

.highscorepage {
  display: none;
  flex-direction: column;
  width: 30vw;
  margin: 10px;
}
